.addCartBn {
    background-color: #3D8168;
    width: 295px;
    height: 48px;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17.07px;;
    font-weight: 700;
    border: none;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 11.61px;
}

@media only screen and (min-width: 1440px) {
    .addCartBn {
        width: 236px;
    }
    .btnContent {
        margin-left: 32px;
        margin-bottom: 32px;
    }
}